body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #303030;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1139px;
    margin: 0 auto;
}

main {
    position: relative;
}
main .bg-gradient {
    background-image: linear-gradient(to bottom, #efefef, #d2e2f3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
}

main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 117px 0 195px;
}

main .item {
    width: 50%;
}

main .item.item-video iframe {
    border-radius: 10px;
}

h1.title{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 56px;
    margin: 0 0 24px;
    max-width: 555px;
}

h2.title{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 38px;
    margin: 0 0 24px;
    max-width: 555px;
}

h3.title{
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
    margin: 0 0 24px;
    max-width: 555px;
}

.content {
    font-size: 1rem;
    line-height: 24px;
    color: #616e7c;
    margin-bottom: 30px;
    max-width: 555px;
}

.content.content-engage {
    max-width: 458px;
}

.content.content-list {
    max-width: 350px;
}

.btn-create {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    background-color: #2d7ed5;
    color: #FFF;
    padding: 12px 21px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 30px;
}

.btn-create-white {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    background-color: #FFF;
    color: #2d7ed5;
    border: 1px solid #2d7ed5;
    padding: 12px 21px;
    display: inline-block;
    border-radius: 5px;
}

.btn-submit {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    background-color: #2d7ed5;
    color: #FFF;
    padding: 12px 21px;
    display: inline-block;
    border-radius: 5px;
}

.btn-get {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    background-color: #FFF;
    color: #2d7ed5;
    border: 1px solid #2d7ed5;
    padding: 11px 50px;
    display: inline-block;
    border-radius: 5px;
}

.open-text {
    font-size: .8rem;
    line-height: 18px;
    color: #616e7c;
    margin-top: 20px;
}

.open-text-white {
    font-size: .8rem;
    line-height: 18px;
    color: #ffffff;
    margin-top: 20px;
}

h3.title.separator {
    position: relative;
    margin: 0 0 7px;
    margin-left: 10px;
}

.separator::before {
    content: '';
    background-color: #2d7ed5;
    height: 14px;
    width: 2px;
    position: absolute;
    top: 5px;
    left: -9px;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 17px;
}

#engage-your-audience .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

#engage-your-audience .container.improve-list {
    margin-top: 58px;
}

#get-started .container .get-started {
    background-color: #2d7ed5;
    color: #FFF;
    border-radius: 10px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 80px;
}

#get-started .container .get-started .title {
    margin-bottom: 17px;
}

#get-started .container .get-started .content {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 30px;
    color: #ffffff;
}

#get-in-touch {
    background-color: #f5f7fa;
    padding: 58px;
}

#get-in-touch .container {
    display: flex;
    justify-content: space-between;
}

#get-in-touch .container .item {
    width: 50%;
}

#get-in-touch .content {
    max-width: 458px;
}

#get-in-touch .address {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #616e7c;
    font-size: 1rem;
    line-height: 24px;
    position: relative;
}

#get-in-touch .address li {
    margin-bottom: 15px;
}

#get-in-touch .address li::before {
    content: '';
    background-image: url('/images/icon-location.svg');
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 7px;
}

#get-in-touch .address li span {
    display: block;
    padding-left: 25px;
}

#get-in-touch .phone {
    padding: 0;
    margin: 35px 0 0;
    list-style: none;
    color: #616e7c;
    font-size: 1rem;
    line-height: 24px;
    position: relative;
}

#get-in-touch .phone li {
    margin-bottom: 15px;
}

#get-in-touch .phone li::before {
    content: '';
    background-image: url('/images/icon-phone.svg');
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 4px;
}

#get-in-touch .phone li span {
    display: block;
    padding-left: 25px;
}


#get-in-touch .email {
    padding: 0;
    margin: 29px 0 0;
    list-style: none;
    color: #616e7c;
    font-size: 1rem;
    line-height: 24px;
    position: relative;
}

#get-in-touch .email li {
    margin-bottom: 15px;
}

#get-in-touch .email li::before {
    content: '';
    background-image: url('/images/icon-email.svg');
    width: 14px;
    height: 11px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 7px;
}

#get-in-touch .email li span {
    display: block;
    padding-left: 25px;
}

.group-form {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: right;
}

.group {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 27px;
}

.company input[type=text] {
    width: 95%;
}

label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

input[type=text], textarea {
    border: 1px solid #e4e7eb;
    border-radius: 5px;
    background-color: #ffffff;
    color: #616e7c;
    padding: 10px;
    font-size: 1rem;
    line-height: 22px;
    width: 90%;
}

textarea {
    height: 132px;
    width: 95%;
    resize: none;
}

button {
    border: none;
}

footer {
    background-color: #303030;
    color:#ffffff;
    padding: 30px;
}

footer .menu {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    line-height: 24px;
}

footer .menu a {
    color: #ffffff;
}

footer .social-media {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    line-height: 24px;
}

footer .social-media a {
    padding: 0 15px;
    display: inline-block;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    line-height: 18px;
}

@media (max-width: 767px) {
    h1.title, h2.title {
        font-size: 1.5rem;
        line-height: 34px;
        margin: 0 0 18px;
    }
    header a {
        height: 35px;
        width: 35px;
        overflow: hidden;
    }
    main .bg-gradient {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    }
    main header .container {
        padding: 10px 0;
    }
    main, #engage-your-audience, #get-started {
        padding: 0 13px;
    }
    #engage-your-audience .container, #get-in-touch .container {
        flex-direction: column;
    }
    main .container {
        flex-direction: column;
        padding: 27px 0 40px;
    }
    main .item {
        width: 100%;
    }
    main .item.item-video {
        margin-top: 20px;
    }
    main .item.item-video iframe {
        width: 100%;
        height: 191px;
    }
    main .item .btn-create {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 11px 0;
    }
    main .item .btn-get {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 11px 0;
        order: 3;
    }
    main .item .open-text {
        margin: 0 0 15px;
        text-align: center;
    }
    main .item .item-container {
        display: flex;
        flex-direction: column;
    }
    #engage-your-audience {
        background-color: #f5f7fa;
    }
    #engage-your-audience .container {
        margin-top: 0;
        padding-top: 40px;
    }
    #engage-your-audience .container.improve-list {
        margin-top: 28px;
        padding-top: 0;
    }
    #engage-your-audience .container.improve-list .item {
        width: 100%;
    }
    #engage-your-audience .container img {
        width: 100%;
    }
    #get-started {
        background-color: #f5f7fa;
        padding-top: 10px;
    }
    #get-started .container .get-started {
        margin: 0;
        padding: 20px 25px;
        text-align: center;
    }
    #get-started .btn-create-white {
        width: 80%;
        margin: 0 25px;
    }
    #get-in-touch {
        padding: 40px 13px;
    }
    #get-in-touch .container .item {
        width: 100%;
    }
    .group-form {
        flex-direction: column;
    }
    .group {
        margin-left: 0;
    }
    .company input[type=text], textarea{
        width: 90%;
    }
    .btn-submit {
        width: 100%;
    }
    footer .menu {
        flex-direction: column;
    }
    footer .menu li {
        padding: 10px 0;
    }
    footer .copyright {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    main, #engage-your-audience, #get-started {
        padding: 0 20px;
    }
    main .item.item-video iframe {
        width: 100%;
    }
    #get-in-touch {
        padding: 40px 20px;
    }
    #engage-your-audience .container img {
        width: 100%;
    }
}